<main class="mx-auto text-center flex flex-col items-center gap-6 justify-center py-10">
    <h1 class="text-4xl font-bold"><%= @movie.name %>の詳細</h1>

    <section class="flex flex-col items-center gap-6 w-1/2 mx-auto">
        <div class="mx-auto">
            <%= image_tag @movie.image_url, class: "w-auto rounded-md text-center" %>
        </div>
        <div class="flex flex-col items-center gap-2">
            <p><%= @movie.description %></p>
            <p>公開年：<%= @movie.year %></p>
            <p>上映状況：<%= @movie.is_showing ? "上映中" : "上映予定" %></p>
        </div>
        <div class="flex flex-col items-center gap-2">
            <h2 class="text-2xl font-bold">上映時間</h2>
            <ul>
                <% @movie.schedules.each do |schedule| %>
                <li><%= schedule.start_time.strftime("%Y/%m/%d %H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %></li>
                <% end %>
            </ul>
        </div>
    </section>

    <% if @movie.schedules.any? %>
    <section class="flex flex-col items-center gap-6 w-1/2 mx-auto">
        <h2 class="text-2xl font-bold">予約</h2>
        <%= form_with url: movie_reservation_path(@movie), method: :get, class: "flex flex-col items-center gap-2" do |form| %>
        <%= form.label :date, "日付" %>
        <%= form.select :date, options_for_select(Date.today..Date.today + 7, Date.today), {}, class: "border-2 border-gray-300 rounded-md p-2" %>
        <%= form.label :schedule_id, "上映時間" %>
        <%= form.select :schedule_id, options_for_select(@movie.schedules.map { |schedule| [schedule.start_time.strftime("%H:%M") + " - " + schedule.end_time.strftime("%H:%M"), schedule.id] }, @movie.schedules.first.id), {}, class: "border-2 border-gray-300 rounded-md p-2" %>
        <%= form.submit "座席を予約する", class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
        <% end %>
    </section>
    <% else %>
    <p>上映時間が公開されるまでもうしばらくお待ちください</p>
    <% end %>
</main>