<main class="mx-auto px-4 py-8 flex flex-col items-center gap-4">
    <h1 class="text-2xl font-bold mb-4">予約一覧</h1>
    <table class="mx-auto border-collapse border border-gray-300 table-auto">
        <thead>
            <tr>
                <th class="border border-gray-300 p-2">上映日時</th>
                <th class="border border-gray-300 p-2">映画</th>
                <th class="border border-gray-300 p-2">座席</th>
                <th class="border border-gray-300 p-2">予約者</th>
                <th class="border border-gray-300 p-2">予約者メールアドレス</th>
                <th class="border border-gray-300 p-2">予約日時</th>
                <th class="border border-gray-300 p-2">操作</th>
            </tr>
        </thead>
        <tbody>
            <% @reservations.each do |reservation| %>
            <tr>
                <td class="border border-gray-300 p-2"><%= reservation.date.to_date.strftime("%Y/%m/%d") %> <%= reservation.schedule.start_time.strftime("%H:%M") %>-<%= reservation.schedule.end_time.strftime("%H:%M") %></td>
                <td class="border border-gray-300 p-2"><%= reservation.schedule.movie.name %></td>
                <td class="border border-gray-300 p-2"><%= reservation.sheet.column %><%= reservation.sheet.row %></td>
                <td class="border border-gray-300 p-2"><%= reservation.name %></td>
                <td class="border border-gray-300 p-2"><%= reservation.email %></td>
                <td class="border border-gray-300 p-2"><%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></td>
                <td class="border border-gray-300 p-2">
                    <%= link_to "詳細", admin_reservation_path(reservation), class: "bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600" %>
                    <%= link_to "編集", edit_admin_reservation_path(reservation), class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
                    <%= link_to "削除", admin_reservation_path(reservation), method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</main>