<main class="mx-auto text-center">
    <h1 class="my-8 text-4xl font-bold">予約詳細</h1>
    <div class="flex flex-col items-center gap-4">
        <p>映画名: <%= @reservation.schedule.movie.name %></p>
        <p>名前: <%= @reservation.name %></p>
        <p>メールアドレス: <%= @reservation.email %></p>
        <p>座席: <%= @reservation.sheet.column %><%= @reservation.sheet.row %></p>
        <p>上映日: <%= @reservation.date %></p>
        <p>上映時間: <%= @reservation.schedule.start_time.strftime("%H:%M") %> - <%= @reservation.schedule.end_time.strftime("%H:%M") %></p>
        <%= link_to "予約編集", edit_admin_reservation_path(@reservation), class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
        <%= link_to "予約削除", admin_reservation_path(@reservation), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600" %>
        <%= link_to "予約一覧に戻る", admin_reservations_path, class: "bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600" %>
</main>