<main class="mx-auto text-center">
    <h1 class="my-8 text-4xl font-bold"><%= @movie.name %>の座席予約をする</h1>

    <%= form_with model: @reservation, url: reservations_path, method: :post, class: "flex flex-col items-center gap-4 w-1/2 mx-auto" do |form| %>
    <%= form.hidden_field :date, value: @date %>
    <%= form.hidden_field :schedule_id, value: @schedule.id %>
    <%= form.hidden_field :sheet_id, value: @sheet.id %>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    <div class="flex flex-col items-center gap-2">
        <h2 class="text-2xl font-bold">予約情報</h2>
        <p>映画：<%= @movie.name %></p>
        <p>日付：<%= @date.to_date.strftime("%Y/%m/%d") %></p>
        <p>上映時間：<%= @schedule.start_time.strftime("%H:%M") %> - <%= @schedule.end_time.strftime("%H:%M") %></p>
        <p>座席：<%= @sheet.column.to_s + @sheet.row.to_s %></p>
        <p>お名前：<%= current_user.name %></p>
        <p>メールアドレス：<%= current_user.email %></p>
    </div>

    <%= form.submit "確定", class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
    <% end %>
</main>
