<main class="mx-auto text-center py-8 flex flex-col gap-4">
    <h1 class="my-8 text-4xl font-bold">上映スケジュールを編集</h1>

    <%= form_with model: @schedule, url: admin_schedule_path(@schedule), method: :patch, class: "flex flex-col items-center gap-4 w-1/2 mx-auto" do |form| %>
    <div class="grid grid-cols-5 items-center gap-2 w-full">
        <%= form.label :start_time, "開始時間", class: "col-span-1" %>
        <%= form.time_field :start_time, class: "border-2 border-gray-300 rounded-md p-2 col-span-4" %>
        <% @schedule.errors.full_messages_for(:start_time).each do |msg| %>
        <div class="error-text"><%= msg %></div>
        <% end %>
    </div>
    <div class="grid grid-cols-5 items-center gap-2 w-full">
        <%= form.label :end_time, "終了時間", class: "col-span-1" %>
        <%= form.time_field :end_time, class: "border-2 border-gray-300 rounded-md p-2 col-span-4" %>
        <% @schedule.errors.full_messages_for(:end_time).each do |msg| %>
        <div class="error-text"><%= msg %></div>
        <% end %>
    </div>

    <%= form.submit "更新", class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
    <% end %>
    <%= form_with model: @schedule, url: admin_schedule_path(@schedule), method: :delete, class: "w-auto mx-auto" do |form| %>
    <%= form.submit "削除", class: "bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 w-auto mx-auto", data: { confirm: "本当に削除しますか？" } %>
    <% end %>
</main>