<!DOCTYPE html>
<html>

<head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <% if flash[:alert] %>
    <div class="text-red-500 bg-red-500 text-white border-2 border-red-500 rounded-md p-2 fixed top-0 left-0 w-auto h-auto" id="alert">
        <%= flash[:alert] %>
    </div>
    <% end %>
    <% if flash[:notice] %>
    <div class="text-green-500 bg-green-500 text-white border-2 border-green-500 rounded-md p-2 fixed top-0 left-0 w-auto h-auto" id="notice">
        <%= flash[:notice] %>
    </div>
    <% end %>
    <%= render "layouts/header" %>
    <%= yield %>
</body>

<script>
    const alertElement = document.getElementById("alert");
    if (alertElement) {
        alertElement.style.transition = "opacity 1s ease-in-out";
        setTimeout(() => {
            alertElement.style.opacity = "0";
        }, 3000);
    }
    const noticeElement = document.getElementById("notice");
    if (noticeElement) {
        noticeElement.style.transition = "opacity 1s ease-in-out";
        setTimeout(() => {
            noticeElement.style.opacity = "0";
        }, 3000);
    }
</script>

</html>
